.container {
  height: 100%;
  padding: 0 40px;
  margin: 0 auto;
  outline: red solid 1px; 
  width: 1780px;

// @media screen and (min-width: $mobile)  {
//   width: $mobile;
// }

// @media screen and (min-width: $tablet)  {
//   width: $tablet;
// }

// @media screen and (min-width: $desktop)  {
//   width: $desktop;
// }
}