$black:rgb(0, 0, 0);
$white:rgb(255, 255, 255);
$grey:rgb(147, 147, 147);
$lite-grey:rgb(224, 224, 224);
$dark-blue:rgb(1, 10, 32);
$red:rgb(221, 34, 66);
$second-grey:rgb(111, 119, 135);
$lite-getting-grey:rgba(21, 20, 57, 0.4);
$blue-grey:rgb(133, 163, 178);
$arrow-explore-color:rgb(2, 11, 32);