<section class="secrets">
  <div class="container">
    <h2 class="explore__title">Explore Our Secrets</h2>
    <ul class="explore__list">
      <div class="arrow-holder">
        <svg
          class="arrow-left"
          width="14.68"
          height="23.91"
          class="search__icon"
        >
          <use href="../img/sprite.svg#secrets-arrow-left"></use>
        </svg>
      </div>
      <li class="explore__list__item">
        <img src="../img/first-secret.jpg" alt="first-secret" />
      </li>
      <li class="explore__list__item">
        <img src="../img/second-secret.jpg" alt="second-secret" />
      </li>
      <li class="explore__list__item">
        <img src="../img/third-secret.jpg" alt="third-secret" />
      </li>
      <div class="arrow-holder">
        <svg
          class="arrow-left"
          width="14.68"
          height="23.91"
          class="search__icon"
        >
          <use href="../img/sprite.svg#secrets-arrow-right"></use>
        </svg>
      </div>
    </ul>
    <div class="scroll-holder">
      <div class="scroll__point"></div>
      <div class="scroll__point"></div>
      <div class="scroll__point"></div>
      <div class="scroll__point--red"></div>
      <div class="scroll__point"></div>
    </div>
  </div>
</section>
