<section class="facts">
  <div class="container facts--flex">
    <h2 class="visually-hidden">Факти про Індонезію</h2>
    <ul class="facts__list">
      <li class="facts__item facts__item--start">
        <img
          class="facts__img"
          src="../img/mountain-path.jpg"
          alt="Mountain path"
        />
        <div class="facts__div facts__div--start">
          <h3 class="facts__title">The walkways of Indonesia spellbind</h3>
          <p class="facts__p">
            Lorem ipsum dolor sit amet, consectetur adip iscing elit. Fusce
            commodo magna et libero mollis rhoncus.
          </p>
          <button class="facts__btn">Learn More</button>
        </div>
      </li>
      <li class="facts__item facts__item--end">
        <div class="facts__div facts__div--end">
          <h3 class="facts__title">Perfect beaches exude relaxation and fun</h3>
          <p class="facts__p">
            Lorem ipsum dolor sit amet, consectetur adip iscing elit. Fusce
            commodo magna et libero mollis rhoncus.
          </p>
          <button class="facts__btn">Learn More</button>
        </div>
        <img class="facts__img" src="../img/beach.jpg" alt="Beach" />
      </li>
    </ul>
  </div>
</section>
