<section class="facts">
    <div class="container facts--flex">
        <h2 class="visually-hidden"></h2>
        <div class="facts__div facts__div--start">
            <img class="facts__img" src="#" alt="">
            <ul class="facts__list">
                <li class="facts__item">
                    <h3 class="facts__title">
                        The walkways of Indonesia spellbind
                    </h3>
                </li>
                <li class="facts__item">
                    <p class="facts__p">
                        Lorem ipsum dolor sit amet, consectetur adip iscing elit. Fusce commodo magna et libero mollis
                        rhoncus.
                    </p>
                </li>
                <li class="facts__item">
                    <button class="facts__btn">
                        Learn More
                    </button>
                </li>
            </ul>
        </div>
        <div class="facts__div facts__div--end">
            <ul class="facts__list">
                <li class="facts__item">
                    <h3 class="facts__title">
                        Perfect beaches exude relaxation and fun
                    </h3>
                </li>
                <li class="facts__item">
                    <p class="facts__p">
                        Lorem ipsum dolor sit amet, consectetur adip iscing elit. Fusce commodo magna et libero mollis
                        rhoncus.
                    </p>
                </li>
                <li class="facts__item">
                    <button class="facts__btn">
                        Learn More
                    </button>
                </li>
            </ul>
            <img class="facts__img" src="#" alt="">
        </div>
    </div>
</section>