<div class="container footer-flex">
  <a class="footer-logo" href="./index.html">
    <img
      class="footer-logo logo-footer"
      src="../img/logo-footer.png"
      alt="Логотип футера"
    />
  </a>
  <ul class="footer-list">
    <li class="footer-item about">
      <a href="#" class="footer-text">About </a>
    </li>
    <li class="footer-item pricing">
      <a href="#" class="footer-text">Pricing </a>
    </li>
    <li class="footer-item company">
      <a href="#" class="footer-text">Company </a>
    </li>
    <li class="footer-item blog">
      <a href="#" class="footer-text">Blog </a>
    </li>
  </ul>
  <ul class="footer-list social-network">
    <li class="footer-item social-network-item">
      <a
        class="footer-text facebook"
        href="https://uk-ua.facebook.com/login/?next=https%3A%2F%2Fuk-ua.facebook.com%2F"
        >f</a
      >
    </li>
    <li class="footer-item social-network-item">
      <a class="footer-text instagram" href="https://www.instagram.com/">in</a>
    </li>
    <li class="footer-item social-network-item">
      <a class="footer-text google" href="https://www.google.com.ua/?hl=uk"
        >G</a
      >
    </li>
  </ul>
  <p class="Copyright">Copyright © 2019</p>
</div>
