<div class="container">
  <div class="footer-logo">
    <img class="logo" src="../img/Vector.svg" alt="" />
    <div class="explore-indonesia">
      <p class="explore">EXPLORE</p>
      <p class="indonesia">INDONESIA</p>
    </div>
    <div class="social">
      <p class="social-item about">About</p>
      <p class="social-item pricing">Pricing</p>
      <p class="social-item company">Company</p>
      <p class="social-item blog">Blog</p>
    </div>
    <div class="social-network">
      <img class="facebook" src="../img/Social _ Facebook.svg" alt="" />
      <p class="in">in</p>
      <img class="google" src="../img/google (1).svg" alt="" />
    </div>
    <div class="copyright">
      <img src="../img/Copyright © 2019 (1).svg" alt="" />
    </div>
  </div>
</div>
