<footer>
<div class="container">
<ul class="footer-list info-list">
    <li class="footer-item info-item">
<h2 class="footer-text info-text">Контактная информация</h2>
<p class="footer-text">test@test.ru</p>
<p class="footer-text">+3 8096 555 66 99</p>
<p class="footer-text">Тернопіль вул С.Бандери</p>
</li>
</ul>
<ul class="footer-list link-list">
    <li class="footer-item link-item">
        <h2 class="footer-text link-text">
            Основні посилання
        </h2>
        <a href="#" class="footer-link link-main">Головна</a>
        <a href="#" class="footer-link link-project">Наші проекти</a>
        <a href="#" class="footer-link link-our-servicers">Наші послуги</a>
        <a href="#" class="footer-link link-contac">Контакти</a>
    </li>
</ul>
<ul class="footer-list project-list">
    <li class="footer-item project-item">
        <h2 class="footer-text project-text">
            Наші проекти
        </h2>
        <p class="footer-text project-text">Укрпошта
        </p>
        <p class="footer-text project-text">Нафтогаз
        </p>
        <p class="footer-text project-text">Львывске пивоварня
        </p>
        <p class="footer-text project-text">Тэц Калуша
        </p>
    </li>
</ul>
<ul class="footer-list social-network-list">
    <li class="footer-item social-network-item">
        <h2 class="footer-text social-network-text">
            Соціальні мережі 
        </h2>
        <a href="#" class="footer-text social-network-linkedin">LinkedIn</a>
        <a href="#" class="footer-text social-network-instagram">Instagram</a>
        <a href="#" class="footer-text social-network-facebook">Facebook</a>
        <a href="#" class="footer-text social-network-twitter">Twitter</a>
    </li>
</ul>
</div>
</footer>