<section>
    <div class="container">
        <h1>Photo Gallery</h1>
        <h2>Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit.
            Phasellus dapibus mauris in 
            lectus tempus, eget tincidunt.</h2>

            <ul>
                <li>
                    <img class="gallery-img"
                src="../img/girls-gallery.jpg"
                alt="girls"
                width="370"
                height="530"/>
                </li>

                <li>
                    <img class="gallery-img"
                src="../img/volcano-gallery.jpg"
                alt="volcano"
                width="370"
                height="294"/>
                </li>
                <li>
                    <img class="gallery-img"
                src="../img/man-gallery.jpg"
                alt="Технокряк:Веб-сайт"
                width="370"
                height="210"/>
                </li>
                <li>
                    <img class="gallery-img"
                src="../img/sea-picture.jpg"
                alt="sea"
                width="370"
                height="210"/>
                </li>
                <li>
                    <img class="gallery-img"
                src="../img/mountain-gallery.jpg"
                alt="mountain"
                width="370"
                height="530"/>
                </li>
                <li>
                    <img class="gallery-img"
                src="../img/green-sea-picture.jpg"
                alt="green-sea"
                width="370"
                height="370"/>
                </li>
            </ul>
    </div>
</section>