<section>
  <div class="container">
    <h2 class="gallery__text">Photo Gallery</h2>
    <p class="gallery__second__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus
      mauris in lectus tempus, eget tincidunt.
    </p>
    <div class="gallery__wrapp">
      <ul class="gallery__list">
        <li class="gallery__list__item">
          <img
            class="gallery__img"
            src="../img/women-picture.jpg"
            alt="girls"
            width="370"
            height="330"
          />
        </li>

        <li class="gallery__list__item">
          <img
            class="gallery__img"
            src="../img/hills-and-clouds-picture.jpg"
            alt="volcano"
            width="370"
            height="294"
          />
        </li>

        <li class="gallery__list__item">
          <img
            class="gallery__img"
            src="../img/farmer-picture.jpg"
            alt="man"
            width="370"
            height="210"
          />
        </li>

        <li class="gallery__list__item">
          <img
            class="gallery__img"
            src="../img/sea-picture.jpg"
            alt="sea"
            width="370"
            height="210"
          />
        </li>

        <li class="gallery__list__item">
          <img
            class="gallery__img gallery__img__mountain"
            src="../img/mountain-picture.jpg"
            alt="mountain"
            width="370"
            height="530"
          />
        </li>

        <li class="gallery__list__item">
          <img
            class="gallery__img"
            src="../img/green-sea-picture.jpg"
            alt="green-sea"
            width="370"
            height="370"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
