<section>
  <div class="container">
    <h2 class="gallery_text">Photo Gallery</h2>
    <p class="gallery_second_text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus
      mauris in lectus tempus, eget tincidunt.
    </p>
    <div class="pictures">
      <ul class="gallery_list">
        <li class="gallery_list_item">
          <img
            class="gallery_img"
            src="../img/women-picture.jpg"
            alt="girls"
            width="370"
            height="330"
          />
        </li>

        <li class="gallery_list_item">
          <img
            class="gallery_img"
            src="../img/hills-and-clouds-picture.jpg"
            alt="volcano"
            width="370"
            height="294"
          />
        </li>

        <li class="gallery_list_item">
          <img
            class="gallery_img"
            src="../img/farmer-picture.jpg"
            alt="man"
            width="370"
            height="210"
          />
        </li>

        <li class="gallery_list_item">
          <img
            class="gallery_img"
            src="../img/sea-picture.jpg"
            alt="sea"
            width="370"
            height="210"
          />
        </li>

        <li class="gallery_list_item">
          <img
            class="gallery_img gallery_img_mountain"
            src="../img/mountain-picture.jpg"
            alt="mountain"
            width="370"
            height="530"
          />
        </li>

        <li class="gallery_list_item">
          <img
            class="gallery_img"
            src="../img/green-sea-picture.jpg"
            alt="green-sea"
            width="370"
            height="370"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
