<header class="header">
  <div class="container header-flex">
    <a class="header__logo" href="./index.html">
      <img src="../img/indonesia-logo.png" alt="logo" />
    </a>
    <nav class="header__nav">
      <ul class="header__nav__list">
        <li class="header__nav__item">
          <a class="header__nav__link" href="#">DESTINATIONS</a>
        </li>
        <li class="header__nav__item">
          <a class="header__nav__link" href="#">EXPERIENCES</a>
        </li>
        <li class="header__nav__item">
          <a class="header__nav__link" href="#">ABOUT</a>
        </li>
        <li class="header__nav__item">
          <a class="header__nav__link" href="#">GALLERY</a>
        </li>
      </ul>
      <ul class="header__icons__list">
        <li class="header__icon__item">
          <svg width="24" height="24" class="search__icon">
            <use href="../img/sprite.svg#search-icon"></use>
          </svg>
        </li>
      </ul>
    </nav>
  </div>
</header>
