<section class="hero">
  <div class="container hero-flex">
    <div class="title-holder">
      <h1 class="hero__title">EXPLORE INDONESIA</h1>
      <button type="button" class="hero__btn">Start Traveling</button>
    </div>
    <div class="gray-holder">
      <div class="gray-fill">
        <ul class="gray__list">
          <li class="gray__item">
            <p class="gray__number">01</p>
            <h2 class="gray__title">Title here</h2>
            <p class="gray__text">
              Lorem ipsum dolor sit amet et amet ist ame.
            </p>
          </li>
          <li class="gray__item">
            <p class="gray__number">02</p>
            <h2 class="gray__title">Title here</h2>
            <p class="gray__text">
              Lorem ipsum dolor sit amet et amet ist ame.
            </p>
          </li>
          <li class="gray__item">
            <p class="gray__number">03</p>
            <h2 class="gray__title">Title here</h2>
            <p class="gray__text">
              Lorem ipsum dolor sit amet et amet ist ame.
            </p>
          </li>
        </ul>
      </div>
      <img class="hero__img" src="../img/hero-video.jpg" alt="video" />
    </div>
    <div class="sidebar-holder">
      <div class="sidebar__red"></div>
      <div class="sidebar__white"></div>
      <p class="sidebar__number">01</p>
    </div>
    <div class="sidebar-media">
      <p class="sidebar__media-item">Fb</p>
      <p class="sidebar__media-item">In</p>
      <p class="sidebar__media-item">Tw</p>
    </div>
    <div class="play-btn-holder">
      <svg class="play__btn" width="190" height="190" class="nav-menu__icon">
        <use href="../img/sprite.svg#Ellipse-play"></use>
      </svg>
      <svg class="arrow__btn" width="24" height="24" class="nav-menu__icon">
        <use href="../img/sprite.svg#play_arrow"></use>
      </svg>
    </div>
  </div>
</section>
