<section class="by-the-numbers">
    <div class="container">
        <h2 class="title">By The Numbers</h2>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo magna et
            libero.Lorem
            ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div class="numbers">
            <div class="number-item">
                <h3 class="number">100+</h3>
                <p class="number-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo magna et libero.</p>
            </div>
            <div class="number-item">
                <h3 class="number">43,000+</h3>
                <p class="number-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo.</p>
            </div>
            <div class="number-item">
                <h3 class="number">30+</h3>
                <p class="number-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo magna et libero.</p>
            </div>
        </div>
    </div>
</section>