<section class="by-the-numbers">
  <div class="container">
    <h2 class="title">By The Numbers</h2>
    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo
      magna et libero.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="numbers">
      <ul class="number-item">
        <h3 class="number">100+</h3>
        <p class="number-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo
          magna та libero.
        </p>
      </ul>
      <ul class="number-item">
        <h3 class="number">43,000+</h3>
        <p class="number-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
          commodo.
        </p>
      </ul>
      <ul class="number-item">
        <h3 class="number">30+</h3>
        <p class="number-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo
          magna та libero.
        </p>
      </ul>
    </ul>
  </div>
</section>
