<section class="videos">
    <div class="videos--container container">
        <h2 class="videos__heading">Live a life like you wouldn’t imagine, experience a<br> life you wouldn’t expect.</h2>
        <img class="videos__video" src="../img/live-a-life-you-wouldnt-imagine-video.jpg" alt="Video">
        <ul class="videos-list">
            <li class="videos-list__item">
                <img class="videos-list__item-img" src="../img/palm-path.jpg" alt="In The Country">
                <div class="videos-list__item--text"><h3 class="videos-list__title">In The Country</h3>
                <p class="videos-list__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus mauris in lectus tempus.</p></div>
            </li>
            <li class="videos-list__item">
                <img class="videos-list__item-img" src="../img/city-landscape.jpg" alt="In The City">
                <div class="videos-list__item--text"> <h3 class="videos-list__title">In The City</h3>
                <p class="videos-list__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus mauris in lectus tempus.</p></div>
            </li>
    </ul>
    </div>
</section>