.secrets {
    height: 2207px;
    background-image: url(../../img/mountain-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.explore__list {
        display: flex;
            justify-content: center;
            align-items: center;
            gap: 31px;
        
        
}

.arrow-wrapper {
    display: flex;
        justify-content: center;
        align-items: center;
        gap: 31px;
    

}

.explore-container {
    outline: none;
}

.explore__title {
    text-align: center;
    font-size: 50px;
    padding-top: 127px;
    padding-bottom: 44.83px;
        font-weight: 700;
        line-height: 150%;
        
}




.arrow-left {
    margin-right: 64px;
    width: 14.68px;
    height: 23.91px;
    fill: #000000;
}


.arrow-right {
    margin-left: 64px;
    width: 14.68px;
    height: 23.91px;
    fill: #000000;
}

.scroll-holder {
    padding-top: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.scroll__point {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: rgb(133, 163, 178);
}

.scroll__point--red {
    width: 50px;
    height: 19px;
    border-radius: 60px;
        background-color: rgb(221, 34, 66);
}



.by-the-numbers {
    transform: translateX(-110px);
    margin-top: 860px;
    height: 794px;
    width: 1921px;
    text-align: center;
    padding-top: 201px;
    padding-bottom: 100px;
    background: rgb(2, 12, 33);
        opacity: 0.9;
    font-family: ' Arial ', sans-serif;

    color: #fff;
}

.by-the-numbers .title {
    font-size: 2.5em;
}

.title {
    margin-bottom: 37px;
}

.description {
    font-size: 1.2em;
    max-width: 480px;
    margin: 0 auto 39px;
    color: #ccc;
}

.numbers {
    display: flex;
    padding-left: 127px;
    padding-right: 127px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.number-item {
    flex: 1;
    max-width: 340px;
    margin: 20px;
}

.number {
    font-size: 3em;
    color: #ff3b3b;
    margin-bottom: 10px;
}

.number-item .number-text {
    font-size: 1em;
    color: #aaa;
}

