.facts {
  // width: 1921px;
  height: 1624px;
  margin: 0 auto;

  &__item {
    margin: 0 auto;

    width: 1921px;
    height: 812px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;

    transform: translateX(-110px);

    &:first-child {
      background: linear-gradient(
          180deg,
          rgba(1, 10, 32, 0.7233018207282913) 0%,
          rgba(1, 10, 32, 0.9641981792717087) 62%
        ),
        url('../../img/mountain-path.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &:last-child {
      background: linear-gradient(
          360deg,
          rgba(1, 10, 32, 0.7233018207282913) 0%,
          rgba(1, 10, 32, 0.9641981792717087) 50%
        ),
        url('../../img/beach.jpg');
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;
    }
  }

  &__img {
    width: 630px;
    height: 460px;
  }

  &__title {
    width: 480px;
    color: $white;
    font-family: 'DM Sans';
    font-size: 42px;
    font-weight: 700;
    line-height: calc(50 / 42);

    margin-bottom: 4px;
  }

  &__subtitle {
    width: 407px;
    color: rgb(224, 224, 224);
    font-family: 'DM Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: calc(28 / 18);
    margin-bottom: 32px;
  }

  &__btn {
    width: 180px;
    height: 59px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 32px;
    background: rgb(221, 34, 66);

    // font
    color: rgb(255, 255, 255);
    font-family: 'DM Sans';
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
  }
}
