.info-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-text:not(:last-child) {
  margin-top: 30px;
}
.link-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-text:not(:last-child) {
  margin-top: 30px;
}
.project-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-item:not(:last-child) {
  margin-top: 30px;
}
.social-network-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-network-text:not(:last-child) {
  margin-top: 30px;
}
