.by-the-numbers {
  height: 794px;
  text-align: center;
  padding-top: 201px;
  padding-bottom: 100px;
  font-family: ' Arial ', sans-serif;
  background-color: #0e0e0e;
  color: #fff;
}

.by-the-numbers .title {
  font-size: 2.5em;
}

.title {
  margin-bottom: 37px;
}

.description {
  font-size: 1.2em;
  max-width: 480px;
  margin: 0 auto 39px;
  color: #ccc;
}

.numbers {
  display: flex;
  padding-left: 127px;
  padding-right: 127px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.number-item {
  flex: 1;
  max-width: 340px;
  margin: 20px;
}

.number {
  font-size: 3em;
  color: #ff3b3b;
  margin-bottom: 10px;
}

.number-item .number-text {
  font-size: 1em;
  color: #aaa;
}
